<style media="screen">
a:hover {
    color: green;
}
</style>
<div class="masthead clearfix">
  <div class="inner" >
    <h1 class="masthead-brand"><img [src]="myLogo" alt="" class="small_logo_img"/> Ilem Yiwen</h1>
    <nav>
      <ul class="nav masthead-nav">
        <li class="nav-link active"><a [routerLink]="['home']">Home</a></li>
        <li><a class="nav-link" [routerLink]="['features']">Features</a></li>
        <li><a class="nav-link" [routerLink]="['contact']">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
