<!-- <div class="header_features">
  <br>
  <button class="glyphicon glyphicon-arrow-left" (click)=gbclick() id="myGoBacklBtn" title="Go to back"> Back</button>
</div> -->
<div class="jumbotron">
  <h1>Maintenance</h1>
  <p class="lead">Il s'agit de réparation du matériel informatique, qui peut-être;
    ordinateur, tablette, téléphone ou smartphone, accéssoires ...
    Installation et configuration de logiciels, matériel et accessoires informatique.
    </p>
  <p><a class="btn btn-lg btn-success"  [routerLink]="['/prices']" role="button">Voir les prix</a></p>
</div>
