* {
    box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
    top:auto;
    float: left;
    width: 33.3%;
    padding: 5%;
}

/* Style the list */
.price {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: rgb(27, 60, 76);
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 15px 25px 0 hsla(0, 100%, 90%, 0.3);
    background-color: transparent;
}

/* Pricing header */
.price .header {
    background: rgb(19, 41, 57);
    color: white;
    font-size: 25px;
}

/* List items */
.price li {
    border-bottom: none;
    padding: 20px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    font-size: 20px;
}

.button {
    background-color: green;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.glyphicon {
  color: #5F2871;
  cursor: pointer;
}

#myGoBacklBtn{
  position: relative;
  top:20%;
  left:-42%;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
}
