<button (click)="toTopFunction()" id="myScrollBtn" title="Go to top">Top</button>
<button class="glyphicon glyphicon-arrow-left" (click)=gbclick() id="myGoBacklBtn" title="Go to back"> Back</button>
<div class="jumbotron" id="Top-of-page">
  <div class="container">
    <table>
      <tr>
        <td width =5%><p>*</p></td>
        <td><p>Devis Gratuit.</p></td>
      </tr>
      <tr>
        <td><p>*  </p></td>
        <td><p>Tous les prix sont TTC (toutes taxes comprises).</p></td>
      </tr>
    <tr>
      <td><p>*  </p></td>
      <td><p>Les prix n'incluent pas l'achat du materiel, de licence ou de composants.</p></td>
    </tr>
    <tr>
      <td><p>*  </p></td>
      <td><p>Déplacement Gratuit pour la zone de 20km à artir du centre de Montpellier, au dela de 20km, 1 euro de plus par Kilomètre supplémentaire.</p></td>
    </tr>
  </table>
  </div>
</div>
<div class="columns">
    <ul class="price">
      <li class="header" id="maintenancePriceId">MAINTENANCE & INSTALLATIONS</li>
        <h1>30 €</h1>
        <p>- par une heure d'intervention -</p>
        <table style="text-align: justify">
          <tr>
            <td width = auto><p>Intervention à domicile</p></td>
            <td><p></p></td>
          </tr>
          <tr>
            <td><p>Changement de composants internes</p></td>
            <td><p></p></td>
          </tr>
        <tr>
          <td style="vertical-align:top"><p>Installation : </p></td>
          <td>
            <tr>
              <p>- Pilotes</p>
            </tr>
            <tr>
              <p>- Logiciels</p>
            </tr>
            <tr>
              <p>- Box internet</p>
            </tr>
            <tr>
              <p>- Imprimante, WebCam, scanner ...</p>
            </tr>
            <tr>
              <p>- ... </p>
            </tr>
          </td>
        </tr>
        <tr>
          <td><p>Netoyage et dépoussiérage</p></td>
          <td><p></p></td>
        </tr>
        </table>
      <li class="header">PHONE</li>
      <li class="grey"><h1>--€</h1>
        <p>-tarif peut varier selon le modèle du smartphone- </p>
        <table style="text-align: justify">
          <tr>
            <td width = auto><p>Réparation des smarthphones</p></td>
            <td><p></p></td>
          </tr>
          <tr>
            <td><p>Remplacmeent des composants</p></td>
            <td><p></p></td>
          </tr>
          <tr>
            <td style="vertical-align:top"><p>Mise-à-jour des applications</p></td>
            <td><p></p></td>
          </tr>
          <tr>
            <td style="vertical-align:top"><p>Mise-à-jour du système</p></td>
            <td><p></p></td>
          </tr>
          <tr>
            <td style="vertical-align:top"><p>Nettoyage et déxosydation</p></td>
            <td><p></p></td>
          </tr>
          <tr>
            <td style="vertical-align:top"><p>Dévéloppement d'applications mobiles (Android)</p></td>
            <td><p></p></td>
          </tr>
      </table>
    </ul>
</div>
<!-- <section >
</section> -->
<div class="columns">
  <ul class="price">
    <li class="header">DEV & Création site internet </li>
    <h1> Prix sur devis</h1>
      <table style="text-align: justify">
        <tr>
          <td width = auto><p>Création de site web</p></td>
          <td><p></p></td>
        </tr>
        <tr>
          <td><p>Site vitrine</p></td>
          <td><p></p></td>
        </tr>
        <tr>
          <td style="vertical-align:top"><p>Création de backOffice</p></td>
          <td><p></p></td>
        </tr>
        <tr>
          <td style="vertical-align:top"><p>Site e-commerce</p></td>
          <td><p></p></td>
        </tr>
        <tr>
          <td style="vertical-align:top"><p>Référencement site web</p></td>
          <td><p></p></td>
        </tr>
        <tr>
          <td style="vertical-align:top"><p>Dévéloppement d'applications mobiles (Android)</p></td>
          <td><p></p></td>
        </tr>
    </table>
    <li class="header">FORMATION</li>
    <li class="grey"><h1>À partir de 30 €/h</h1><p>Les prix sont fixés selon le type de la formation. Tarif de base est à 30 euros l'heure.</p>
    </li>
  </ul>
</div>
<div class="columns">
    <ul class="price">
      <li class="header">INSTALLATION DES SYSTÈMES D'EXPLOITATION</li>
      <li class="grey"><h1>75 €</h1>
        <table style="text-align: justify">
          <tr>
            <td width = auto><p>Formatage disque</p></td>
            <td><p></p></td>
          </tr>
          <tr>
            <td><p>installation du système d'éxploitation  </p></td>
            <td><p></p></td>
          </tr>
        <tr>
          <td style="vertical-align:top"><p>Paramétrage : </p></td>
          <td>
            <tr>
              <p>- Anti-virus</p>
            </tr>
            <tr>
              <p>- Logiciels multimédias</p>
            </tr>
            <tr>
              <p>- Logiciels de bureautique</p>
            </tr>
            <tr>
              <p>- Gestions de fichiers</p>
            </tr>
            <tr>
              <p>- Mise-à-jour (systèmes, périphériques, pilotes ...)</p>
            </tr>

          </td>
        </tr>
      </table>
      <li class="header">À DISTANCE</li>
      <li class="grey"><h1>15 €</h1>
        <p>- Par 1/2 heure - </p>
        <p> à fin d'établir un contact à distance, on a besoin de télécharger et d'installer <a style="color:green; font-size: 20px" href="https://www.teamviewer.com/fr/download/windows/">TeamViewer</a></p>
      </li>
    </ul>
</div>
