<div class="header_features">
  <button class="glyphicon glyphicon-chevron-left" (click)=gbclick() id="myGoBacklBtn" title="Go to back"> Back</button>
</div>
<div class="row">
  <div class="columns">
    <ul class="price">
      <li class="header">MAINTENANCE</li>
      <li class="grey"><p>À partir de </p><h1>30€</h1>
      <li class="header">PHONE</li>
      <li class="grey"><p>-Forfait-</p><h1>60 €</h1>
      <li class="grey"><a [routerLink]="['priceDetail']" scroll="#maintenancePriceId" class="button">Details</a></li>
    </ul>
  </div>
  <div class="columns">
    <ul class="price">
      <li class="header">DEV</li>
      <li class="grey"><p>-Devis-</p><h1>-- €</h1>
      <li class="header">FORMATION</li>
      <li class="grey"><p>-À partir -</p><h1>30 €/</h1>
      </li>
      <li class="grey"><a [routerLink]="['priceDetail']" class="button">Details</a></li>
    </ul>
  </div>
    <div class="columns">
      <ul class="price">
        <li class="header">INSTALL SYSTÈMES</li>
        <li class="grey"><p>-Forfait-</p><h1>75 €</h1>
        <li class="header">À DISTANCE</li>
        <li class="grey"><p>-Par 1/2 heure-</p><h1>15 €</h1>
        </li>
        <li class="grey"><a [routerLink]="['priceDetail']" class="button">Details</a></li>
      </ul>
    </div>
</div>
