<!-- <div class="header_features">
  <br>
  <button class="glyphicon glyphicon-arrow-left" (click)=gbclick() id="myGoBacklBtn" title="Go to back"> Back</button>
  <!-- <h2> <span  (click)= gbclick()></span> Go Back</h2> -->
<!-- </div> -->
<div class="jumbotron">
  <h1>Formations :</h1>
  <p class="lead">
    <tr>Bureautiques</tr>
    <tr>Maitriser mon ordinateur ou ma tablette</tr>
    <tr>Navigation Intenet</tr>
    <tr>Réseaux sociaux et messageries éléctrobniques</tr>
    <tr>Installation et manipulation des logiciels</tr>
    <tr>...</tr>
  </p>
  <p><a class="btn btn-lg btn-success"  [routerLink]="['/prices']" role="button">Voir les tarifs</a></p>
</div>
