    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">ⵉⵢ Ilem Yiwen</h1>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="">Features</a></li>
                  <li><a href="">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner-cover">
            <h1 class="cover-heading">Ilem Yiwen</h1>
            <p class="lead">développement, formation et maintenance informatique.</p>
            <p class="lead">
              <a href='#' class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="..">Bootstrap</a>, by <a href="..">@Ilem</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
