<div class="container">
  <div class="row row-offcanvas">
    <div class="col-12 col-md-12">
      <div class="row">
        <div class="col-6 col-lg-3">
          <h3>Développement</h3>
          <p>langages, technologies et tous les outils utilisés dans le dévelopement informatique.</p>
          <p><a class="btn btn-secondary" routerLink="/features/development" role="button">Détails »</a></p>
        </div><!--/span-->
        <div class="col-6 col-lg-3">
          <h3>Formations</h3>
          <p>Les formations en inforamtique qui peuvent être assurées. </p>
          <p><a class="btn btn-secondary" routerLink="/features/training" role="button">Détails »</a></p>
        </div><!--/span-->
        <div class="col-6 col-lg-3">
          <h3>Maintennance</h3>
          <p>installation, maintenance et réparation de materiel/logiciel informatique.  </p>
          <p><a class="btn btn-secondary" routerLink="/features/maintenance" role="button">Détails »</a></p>
        </div><!--/span-->
        <div class="col-6 col-lg-3">
          <h3>Prices</h3>
          <p>On trouve les technologies à découvrir. </p>
          <p><a class="btn btn-secondary" routerLink="/features/prices"  role="button">Détails »</a></p>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
    <div class="col-12 col-md-6">
    </div>
  </div><!--/row-->
  <hr>
</div>
