<div class="jumbotron">
  <h1>Développement</h1>
  <p class="lead">Pour le développement des applications web, on fait appel
     à Angular2 pour développer le côté client de l'application. Pour le coté serveur,
     on utilise Node.js. Des frameWorks qui utilisent javascript comme langage de programmation.
     En plus de ces deux frameworks, Express.js pour les routes, côté back, et mongoBD
     pour la base de données. Sans oublier les deux langages indisposables pour une page web; le HTML et le CSS.

  </p>
  <p><a class="btn btn-lg btn-success"  [routerLink]="['/prices']" role="button">Voir les prix</a></p>
</div>
