<div class="jumbotron">
  <h1>Développement</h1>
  <p class="lead">Pour développer les application web, on utilise
     Angular2 pour construire le front de l’application ; côté client.
      Côté serveur, développement sous NodeJS avec ExpressJS et,
        MngoDB pour les bases de données. Un développement basé essentiellement
         sur le langage JavaScript (TypeScript) en plus du Css, html et MySQL.

  </p>
  <p><a class="btn btn-lg btn-success"  [routerLink]="['/prices']" role="button">Voir les tarif</a></p>
</div>
